paramiko>=2.4  # LGPLv2.1+
tenacity>=4.4.0  # Apache-2.0
six>=1.10.0  # MIT
threaded>=2.0  # Apache-2.0
PyYAML>=3.12  # MIT
advanced-descriptors>=1.0  # Apache-2.0
typing >= 3.6 ; python_version < "3.7"
psutil >= 5.0
